header {
  background-color: #f7f7f7;
  /* padding: 20px; */ /* this padding will applied all side of the content */
  padding: 20px 40px; /* first value for top&bottom padding, second value for left&right padding */
  height: 80px; /* height of the block */
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
}
.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  /* color: blue; */
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
body {
  position: relative;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  /* top: 0;
  left: 20%; */
  bottom: 50px;
  right: 50px;
}
/* footer p {
  font-size: 10px;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-ul {
  list-style: none;
}

/* class for bold first list --> this is not a good idea, for this we use seudo class*/

/* .first-li {
  font-weight: bold;
} */

/* seudo class for bold first list */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* for another child */
/*
li:nth-child(even) {
  color: red;
}
*/

/* below seudo class won't work becaz p is not first child of article */
article p:first-child {
  color: aqua;
}

/* Styling links */
a:link {
  color: #109810;
  text-decoration: none;
}

/* after visiting a link its color will be change just like google */
a:visited {
  color: blueviolet;
}
/* if we placed cursor on link then its property will be change */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}
/* if we click on a link then below property will be reflect*/
a:active {
  background-color: black;
}

/* Resolving conflict */
/* all selector is applied in element. if same declaration is present in multiple selector, this is called conflict */
/* 
  if we mark important to any declaration,this is applied
  if inline style present then this is applied
*/
/* In confilicting first priority is id declaration */
#copyright1 {
  font-size: 16px;
  color: red;
}

/* In conflicting second priority is class selector */
.copyright1 {
  color: orange;
}
/* If multiple class is present, last class will be applied */
.copyright2 {
  color: #109810;
}

/* element selector have last priority */
footer p {
  color: aqua !important;
}

/* if universal selector is present,  it's have last priority*/

/* Universal selector */
/* * {
  border-top: 10px solid #1098ad;
} */

/*
nav a:link {
  background-color: orange;
  margin: 20px;
  display: block;
}*/

/* Pseudo elements to style */
h1::first-letter {
  font-style: normal;
  margin-right: 18px;
}
/* json sibling selector */
/* h3 + p::first-line {
  color: red;
} */
/* after h3 first p elt */

h2 {
  /* background-color: orange; */
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: 25px;
}
